<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
    <title>Un árbol para ti - Agregar Producto</title>
</head>
<body>
    <!-- Header -->
    <%- include('../partials/header') %>
    <main>
    <h1 class="title-login"> Agregar Producto </h1>
    <br>
    <form class="addingProd" action="/productos/crear" method="POST" enctype="multipart/form-data">
        <div class="login-box">
            <br>
            <div class="addProduct">
                <label for="nombre" class="label"> Nombre común: </label>
                <input class="inputs input-nombre" type="text" name="nombre" id="nombre" value="<%= locals.old && old.nombre ? old.nombre : ''%>"> 
                <i class="fas fas-nombre"></i>
            </div>
            <div class="ps-errors">
                <span class="p p-nombre1">El nombre debe especificarse</span>
                <span class="p p-nombre2">Asegúrate de que el nombre tenga al menos 5 caracteres</span>
            </div>
            <% if (locals.errors && errors.nombre) { %>
                <div class="text-danger">
                    <%= errors.nombre.msg %>
                </div>
            <% } %>
            <br>
            <div class="addProduct">
                <label for="imagen1" class="label"> Cargar Imagen 1: </label>
                <input type="file" name="imagen1" id="imagen1" multiple >
            </div>
            <% if (locals.errors && errors.imagen1) { %>
                <div class="text-danger">
                    <%= errors.imagen1.msg %>
                </div>
            <% } %>
            <div class="addProduct">
                <label for="imagen2" class="label"> Cargar Imagen 2: </label>
                <input type="file" name="imagen2" id="imagen2" multiple >
            </div>
            <% if (locals.errors && errors.imagen2) { %>
                <div class="text-danger">
                    <%= errors.imagen2.msg %>
                </div>
            <% } %>
            <br>
            <div class="addProduct">
                <label for="precio" class="label"> Precio:  </label>
                <input class="inputs input-precio" type="text" name="precio" id="precio" value="<%= locals.old && old.precio ? old.precio : ''%>" >
                <i class="fas fas-precio"></i>
            </div>
            <div class="ps-errors">
                <span class="p p-precio1">El precio debe especificarse</span>
                <span class="p p-precio2">El precio debe contener solo números</span>
            </div>
            <% if (locals.errors && errors.precio) { %>
                <div class="text-danger">
                    <%= errors.precio.msg %>
                </div>
            <% } %>
            <br>
            <div class="addProduct">
                <label for="informacion" class="label"> Información del árbol:</label>
            </div>
            <br>
            <div class="addProduct">
                <label for="nombre_cientifico" class="label"> Nombre científico:  </label>
                <input class="inputs input-nombre_cientifico" type="text" name="nombre_cientifico" id="nombre_cientifico" value="<%= locals.old && old.nombre_cientifico ? old.nombre_cientifico : ''%>" >
                <i class="fas fas-nombre_cientifico"></i>
            </div>
            <div class="ps-errors">
                <span class="p p-nombre_cientifico">El nombre científico debe especificarse</span>
            </div>
            <% if (locals.errors && errors.nombre_cientifico) { %>
                <div class="text-danger">
                    <%= errors.nombre_cientifico.msg %>
                </div>
            <% } %>
            <br>
            <div class="addProduct">
                <label for="region" class="label"> Región:  </label>
                <input class="inputs input-region" type="text" name="region" id="region" value="<%= locals.old && old.region ? old.region : ''%>" >
                <i class="fas fas-region"></i>
            </div>
            <div class="ps-errors">
                <span class="p p-region">La región debe especificarse</span>
            </div>
            <% if (locals.errors && errors.region) { %>
                <div class="text-danger">
                    <%= errors.region.msg %>
                </div>
            <% } %>
            <br>
            <div class="addProduct">
                <label for="tipo" class="label"> Tipo de árbol:  </label>
                <input class="inputs input-tipo" type="text" name="tipo" id="tipo" value="<%= locals.old && old.tipo ? old.tipo : ''%>" >
                <i class="fas fas-tipo"></i>
            </div>
            <div class="ps-errors">
                <span class="p p-tipo">El tipo debe especificarse</span>
            </div>
            <% if (locals.errors && errors.tipo) { %>
                <div class="text-danger">
                    <%= errors.tipo.msg %>
                </div>
            <% } %>
            <br>
            <div class="addProduct">
                <label for="altura" class="label"> Altura:  </label>
                <input class="inputs input-altura" type="text" name="altura" id="altura" value="<%= locals.old && old.altura ? old.altura : ''%>" >
                <i class="fas fas-altura"></i>
            </div>
            <div class="ps-errors">
                <span class="p p-altura">La altura debe especificarse</span>
            </div>
            <% if (locals.errors && errors.altura) { %>
                <div class="text-danger">
                    <%= errors.altura.msg %>
                </div>
            <% } %>
            <br>
            <div class="addProduct">
                <label for="crecimiento" class="label"> Crecimiento:  </label>
                <input class="inputs input-crecimiento" type="text" name="crecimiento" id="crecimiento" value="<%= locals.old && old.crecimiento ? old.crecimiento : ''%>" >
                <i class="fas fas-crecimiento"></i>
            </div>
            <div class="ps-errors">
                <span class="p p-crecimiento">El crecimiento debe especificarse</span>
            </div>
            <% if (locals.errors && errors.crecimiento) { %>
                <div class="text-danger">
                    <%= errors.crecimiento.msg %>
                </div>
            <% } %>
            <br>
            <div class="addProduct">
                <label for="riego" class="label"> Riego:  </label>
                <input class="inputs input-riego" type="text" name="riego" id="riego" value="<%= locals.old && old.riego ? old.riego : ''%>" >
                <i class="fas fas-riego"></i>
            </div>
            <div class="ps-errors">
                <span class="p p-riego">El riego debe especificarse</span>
            </div>
            <% if (locals.errors && errors.riego) { %>
                <div class="text-danger">
                    <%= errors.riego.msg %>
                </div>
            <% } %>
            <br>
            <div class="addProduct">
                <label for="suelo" class="label"> Suelo:  </label>
                <input class="inputs input-suelo" type="text" name="suelo" id="suelo" value="<%= locals.old && old.suelo ? old.suelo : ''%>" >
                <i class="fas fas-suelo"></i>
            </div>
            <div class="ps-errors">
                <span class="p p-suelo">El tipo de suelo debe especificarse</span>
            </div>
            <% if (locals.errors && errors.suelo) { %>
                <div class="text-danger">
                    <%= errors.suelo.msg %>
                </div>
            <% } %>
            <br>
            <div class="addProduct">
                <label for="clima" class="label"> Clima:  </label>
                <input class="inputs input-clima" type="text" name="clima" id="clima" value="<%= locals.old && old.clima ? old.clima : ''%>" >
                <i class="fas fas-clima"></i>                
            </div>
            <div class="ps-errors">
                <span class="p p-clima">El tipo de clima debe especificarse</span>
            </div>
            <% if (locals.errors && errors.clima) { %>
                <div class="text-danger">
                    <%= errors.clima.msg %>
                </div>
            <% } %>
            <br>
            <div class="addProduct">
                <label for="luz" class="label"> Luz necesaria:  </label>
                <input class="inputs input-luz" type="text" name="luz" id="luz" value="<%= locals.old && old.luz ? old.luz : ''%>" >
                <i class="fas fas-luz"></i>
            </div>
            <div class="ps-errors">
                <span class="p p-luz">La luz necesaria debe especificarse</span>
            </div>
            <% if (locals.errors && errors.luz) { %>
                <div class="text-danger">
                    <%= errors.luz.msg %>
                </div>
            <% } %>
            <br>
            <div class="addProduct">
                <label for="fruto" class="label"> Fruto:  </label>
                <input class="inputs input-fruto" type="text" name="fruto" id="fruto" value="<%= locals.old && old.fruto ? old.fruto : ''%>" >
                <i class="fas fas-fruto"></i>
            </div>
            <div class="ps-errors">
                <span class="p p-fruto">El fruto debe especificarse</span>
            </div>
            <% if (locals.errors && errors.fruto) { %>
                <div class="text-danger">
                    <%= errors.fruto.msg %>
                </div>
            <% } %>
            <br>
            <div class="addProduct">
                <button type="submit" id="boton-login"> Agregar </button>
            </div>
            <br>
        </div>
    </form>
    </main>
    <!-- Footer -->
    <%- include('../partials/footer') %>
    <script src="/js/addProdValidator.js"></script>
</body>
</html>