<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
    <title>Un árbol para ti - Lista de Árboles </title>
</head>
<body>
    <!-- Header -->
    <%- include('../partials/header') %>
    <div>
        <h1 class="title-login">Lista de Árboles disponibles</p>
    </div>
    <main>
        <% for(let i=0; i < listProd.listaProductos.length; i++) { %>    
        <div class="box-product-detail">
            <div class="box-product-detail-column">
                <div class="title-detail-product">  <%= listProd.listaProductos[i].nombre %> </div>
                <div> <img class="img-product-detail" src= <%= listProd.listaProductos[i].imagen1 %> alt="inga-1"> </div>
                <div> <img class="img-product-detail" src=<%= listProd.listaProductos[i].imagen2 %> alt="inga-1"> </div>
                <div class="precio-carrito">  <strong> $1234 </strong> </div>
                <div class="precio-carrito">Agregar carrito <a href=""><i class="fas fa-cart-plus" id="carrito"></i></a> </div>
            </div>
            <div class="box-product-detail-column">
                <div class="title-detail-product"> <%= listProd.listaProductos[i].region %> </div>
                <div> <strong> Características</strong> </div>
                <div><ul>
                    <li> <strong>Nombre científico:</strong>  <em><%= listProd.listaProductos[i].nombre_cientifico %></em> </li>
                    <li> <strong>Nombre común:</strong>  <%= listProd.listaProductos[i].nombre %> </li>
                    <li> <strong>Tipo de árbol:</strong>  <%= listProd.listaProductos[i].tipo %></li>
                    <li> <strong>Altura:</strong>  <%= listProd.listaProductos[i].altura %> </li>
                    <li> <strong>Crecimiento:</strong> <%= listProd.listaProductos[i].crecimiento %> </li>
                    <li> <strong>Riego:</strong> <%= listProd.listaProductos[i].riego %> </li>
                    <li> <strong>Suelo:</strong> <%= listProd.listaProductos[i].suelo %> </li>
                    <li> <strong>Clima:</strong> <%= listProd.listaProductos[i].clima %> </li>
                    <li> <strong>Luz necesaria:</strong> <%= listProd.listaProductos[i].luz %> </li>
                    <li> <strong>Fruto:</strong> <%= listProd.listaProductos[i].fruto %> </li>
                </ul></div>
            </div>
        </div>
        <% } %>
    </main>
    <!-- Footer -->
    <%- include('../partials/footer') %>
</body>
</html>