<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
    <title>Un árbol para ti - Detalle de producto </title>
</head>
<body>
    <!-- Header -->
    <%- include('../partials/header') %>
    <div>
        <h1 class="title-login">Página del producto <%= listaProductos.id %> </p>
    </div>
    <main>
        <div class="box-product-detail">
            <div class="box-product-detail-column">
                <div class="title-detail-product"> <%= listaProductos.nombre %> </div>
                <div> <img class="img-product-detail" src="<%= listaProductos.imagen1 %>" alt="inga-1"> </div>
                <div> <img class="img-product-detail" src="<%= listaProductos.imagen2 %>" alt="inga-1"> </div>
                <div class="precio-carrito">  <strong> $ <%= listaProductos.precio %> </strong> </div>
                <div class="precio-carrito">Agregar carrito <a href=""><i class="fas fa-cart-plus" id="carrito"></i></a> </div>
            </div>
            <div class="box-product-detail-column">
                <div class="title-detail-product"> Región <%= listaProductos.region %> </div>
                <div> <strong> Características</strong> </div>
                <div><ul>
                    <li> <strong>Nombre científico:</strong>  <em><%= listaProductos.nombre_cientifico %></em> </li>
                    <li> <strong>Nombre común:</strong>  <%= listaProductos.nombre %> </li>
                    <li> <strong>Tipo de árbol:</strong>  <%= listaProductos.tipo %> </li>
                    <li> <strong>Altura:</strong>  <%= listaProductos.altura %> </li>
                    <li> <strong>Crecimiento:</strong> <%= listaProductos.crecimiento %> </li>
                    <li> <strong>Riego:</strong> <%= listaProductos.riego %> </li>
                    <li> <strong>Suelo:</strong> <%= listaProductos.suelo %> </li>
                    <li> <strong>Clima:</strong> <%= listaProductos.clima %> </li>
                    <li> <strong>Luz necesaria:</strong> <%= listaProductos.luz %> </li>
                    <li> <strong>Fruto:</strong> <%= listaProductos.fruto %> </li>
                </ul></div>
            </div>
        </div>
    </main>
    <!-- Footer -->
    <%- include('../partials/footer') %>
</body>
</html>