<!DOCTYPE html>
<html lang="es">
    <head>
    <%- include('./partials/head') %>
    <title>Un árbol para ti - Inicio</title>
    </head>
<body>
    <!-- Header -->
    <%- include('./partials/header') %>
    <!-- Main -->
    <main>
        <div class="header-bottom-productCart">
            <h2>Conoce la variedad de árboles mexicanos</h2>
            <%- include('./partials/slider') %>
        </div>
        <section>
            <div class="subtitle">
                <h3>¡Encuentra tu árbol!</h3>
                <h2>Nuestros productos</h2>
            </div>
            <article>
                <% for(let i=0; i < dataArboles.length; i++) { %>
                    <div class="space">
                        <div class="productoX">
                            <a href="/productDetail/<%=dataArboles[i].id_product%>">
                                <div class="container">
                                    <div class="productoXimg">
                                        <img src="<%=dataArboles[i].imagen1%>" alt="imagen-producto">
                                    </div>
                                    <div class="detail-box">
                                        <div class="info1">
                                            <div class="name"><%=dataArboles[i].nombre%></div>
                                            <div class="region"><%=dataArboles[i].region%></div>
                                        </div>
                                        <div class="info2">
                                            <div class="price">$<%=dataArboles[i].precio%></div>
                                            <div class="addCart"><a href="/productCart">Lo quiero  <i class="fas fa-cart-plus"></i></a></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                <% } %>
            </article>
        </section>
    </main>
    <!-- Footer -->
    <%- include('./partials/footer') %>

