<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
    <title>Un árbol para ti - Registro de Usuario</title>
</head>
<body>
    <!-- Header -->
    <%- include('../partials/header') %>
    <main>
    <h1 class="title-login"> Registro de Usuario </h1>
    <br>

    <!-- <% if (typeof errors != 'undefined') { %>
        <p style="color: red">ERRORES</p>
        <ul>
            <% for (let i=0; i < errors.length; i++) { %>
                <li>
                    <%=errors[i].msg%>
                </li>
            <% } %>
        </ul>
    <% } %> -->


    <form action="/users/crearUsuario" method="POST" enctype="multipart/form-data">
        <div class="login-box">
            <br>
            <div class="addProduct">
                <label for="nombre" class="label"> Nombre: </label>
                <input class="inputs input-nombre" type="text" name="nombre" id="nombre" value="<%= locals.old && old.nombre ? old.nombre : ''%>">
                <i class="fas fas-nombre"></i> 
            </div>
            <div class="ps-errors">
                <span class="p p-nombre1">El nombre debe especificarse</span>
                <span class="p p-nombre2">Asegúrate de que el nombre tenga al menos 2 caracteres</span>
            </div>
            <% if (locals.errors && errors.nombre) { %>
                <div class="text-danger">
                    <%= errors.nombre.msg %>
                </div>
            <% } %>           
            <br>
            <div class="addProduct">
                <label for="apellido" class="label"> Apellido: </label>
                <input class="inputs input-apellido" type="text" name="apellido" id="apellido" value="<%= locals.old && old.apellido ? old.apellido : ''%>">
                <i class="fas fas-apellido"></i> 
            </div>
            <div class="ps-errors">
                <span class="p p-apellido1">El apellido debe especificarse</span>
                <span class="p p-apellido2">Asegúrate de que el nombre tenga al menos 2 caracteres</span>
            </div>
            <% if (locals.errors && errors.apellido) { %>
                <div class="text-danger">
                    <%= errors.apellido.msg %>
                </div>
            <% } %>
            <br>
            <div class="addProduct">
                <label for="email" class="label"> Correo electrónico:  </label>
                <input class="inputs input-email" type="email" name="email" id="email" value="<%= locals.old && old.email ? old.email : ''%>">
                <i class="fas fas-email"></i>
            </div>
            <div class="ps-errors">
                <span class="p p-email1">El correo debe especificarse</span>
                <span class="p p-email2">Asegúrate de que el correo sea válido y contenga al menos 3 caracteres</span>
            </div>
            <% if (locals.errors && errors.email) { %>
                <div class="text-danger">
                    <%= errors.email.msg %>
                </div>
            <% } %>
            <br>
            <div class="addProduct">
                <label for="password" class="label"> Contraseña:  </label>
                <input class="inputs input-password" type="password" name="password" id="password" value="<%= locals.old && old.password ? old.password : ''%>">
                <i class="fas fas-password"></i>
            </div>
            <div class="ps-errors">
                <span class="p p-password1">La contraseña debe especificarse</span>
                <span class="p p-password2">Asegúrate de que la contraseña contenga al menos 8 caracteres</span>
            </div>
            <% if (locals.errors && errors.password) { %>
                <div class="text-danger">
                    <%= errors.password.msg %>
                </div>
            <% } %>
            <br>
            <div class="addProduct">
                <label for="imagenUsuario" class="label"> Cargar Imagen de Usuario: </label>
                <input type="file" name="imagenUsuario" id="imagenUsuario" multiple>
            </div>
            <% if (locals.errors && errors.imagenUsuario) { %>
                <div class="text-danger">
                    <%= errors.imagenUsuario.msg %>
                </div>
            <% } %>
            <br>
            <div class="addProduct">
                <label for="categoria" class="label"> Elegir categoría:</label>
                <select name="categoria" id="categoria">
                    <option value="usuario">Soy usuario</option>
                    <option value="administrador">Soy administrador</option>
                </select>
            </div>
            <br>
            
            <div class="addProduct"> 
                <button type="submit" id="boton-login"> Registrarme </button>
            </div>
            <br>
        </div>
    </form>
    </main>
    <!-- Footer -->
    <%- include('../partials/footer') %>
    <script src="/js/addUserValidator.js"></script>
</body>
</html>