<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
    <title>Un árbol para ti - Welcome Page</title>
</head>
<body>
    <!-- Header -->
    <%- include('../partials/header') %>
    <main>
        <h1 class="title-login"> Bienvenid@ </h1>
        <h1 class="title-login"><%= usuario.firstName %> <%= usuario.lastName %></h1>
        <div class="contiene">
            <img class="image-user" src="<%=usuario.image%>" alt="Imagen de usuario">
        </div>
        <h3><a href="/users/cerrar">Cerrar sesión</a></h3>
        <br>
    </main>
    <!-- Footer -->
    <%- include('../partials/footer') %>
</body>
</html>